* {
    font-family: "RM Albion", cursive;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
/*    use absolute height and width so it doesnt change w content*/
    height: 196px;
    width: 196px;
    border: 2px solid magenta;
    font-size: 20em;
}

#board {
    height: 600px;
    width: 600px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.turn, #result {
    font-size: 5em;
    position: relative;
    left: 150px;
}

#result {
    color: deepskyblue;
    left: 190px;
}
